services:
  imaray:
    build: .
    container_name: sylvia-dev
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
